@model IEnumerable<Labont_Dumitru_Licenta.Models.Request>
@{
    ViewData["Title"] = "Cererile Mele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sender.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.CarDetail.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.CarDetail.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.CarDetail.Price)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.RequestState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sender.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sender.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.CarDetail.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.CarDetail.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.CarDetail.Price)
                    </td>
                    <td>
                        @if(item.RequestState == null)
                        {
                            <a asp-controller="Furnizor" asp-action="ConfirmRequest" asp-route-id="@item.ID"><div>Oferiti un raspuns cererii</div></a>
                        }
                        else if(item.RequestState == true)
                        {
                            <div>Cererea a fost aprobata</div>
                        }
                        else
                        {
                            <div>Cererea a fost respinsa</div>
                        }
                    </td>
                    
                </tr>
            }
            
        
    </tbody>
</table>